<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TestLCs</display-name>


  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/aws</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
    <context-param>
        <param-name>wodb.datasource</param-name>
        <param-value>jdbc/wodbaws</param-value>
	</context-param>
  
  	<context-param>
		<param-name>webContentPath</param-name>
		<param-value>https://s3.amazonaws.com/ec2-54-225-52-217.compute-1.amazonaws.com/mscontent/</param-value>
	</context-param>

	<context-param>
		<param-name>webContentPath2</param-name>
		<param-value>https://dev.mathspring.org:8443/TestLCs/</param-value>
	</context-param>
  
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>edu.umass.ckc.servlet.servbase.LoginServlet</servlet-class>
        <init-param>
            <!-- Use the huy gui by default now.  Use value: old to get the old one. -->
            <param-name>gui</param-name>
            <param-value>huy</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

  
  

</web-app>